{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}
{% block body %}
<center><h1 style="color:white">IMMOSTAR</h1>
<img style="width:1000px; height:650px" src="Images/Maison.jpg"></center>
<br/><br/>
{% endblock %}
