{% extends 'base.html.twig' %}

{% block title %}Liste des visites{% endblock %}

{% block body %}
    <center>
    <div style="width: 55%; border: 1px solid black; background-color: background"><br/>
        <h2><p>Etes vous sûr de vouloir supprimer cette visite?</p></h2>
        <a class="btn btn-danger" href="/consulterVisites">Annuler</a>
        <a style="margin-left:20px" class="btn btn-success" href="/suppressionVisite/{{ id }}">Valider</a>
    <br/>
    <br/>
    </div></center>
{% endblock %}
